body{
    font-family: Montserrat, serif;
    font-size: 25px;
    line-height: 30px;
}

.title{
    text-align: center;
    font-family: AGaramondPro, serif;
    font-size: 60px;
    line-height: 72px;
    color: #14274A;
    margin-bottom: 34px;
    text-transform: uppercase;
}

.description{
    text-align: center;
    line-height: 30px;
    margin-bottom: 52px;
}