%btn{
    width: 268px;
    height: 78px;
    background-color: #E0B973;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Montserrat, serif;
    cursor: pointer;
    border: none;
}